body
{
    margin: 0px;
    background: rgb(215, 215, 215);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 25px white,-2px 1px 600px white;
}

#main
{
    background-color: rgb(215, 215, 215);
    border-radius: 25px;
    margin: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.subMain
{
    display: flex;
    justify-content: space-between;
}
.subMain div
{
    margin: 0px 10px 0px 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img
{
    height: 50px;
}
#scoreBoard
{
    display: flex;
    border-bottom: 1px solid black;
}
#scoreBoard p
{
    margin: 25px;
    font-size: 25px;
}

#selector
{
    display: flex;
}
#selector div
{
    margin: 7px 7px 15px 7px;
    width: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
#selector div:hover
{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 1px;
}
.input img
{
    height: 50px;
}

@media only screen and (max-width: 500px)
{
    #main
    {
        width: 380px;
    }
    #selector div
    {
        width: 80px;
    }
} 